<h1>Education</h1>


<%= form_with(model: @resume, local: true, url: build_resume_update_education_path) do |form| %>
<% if @resume.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

  <ul>
    <% @resume.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>



<div class ="contact-details">

  <div>
    <div class="field">
      <%= form.label :school %>
      <%= form.text_field 'school', :value => (@resume.id ? @resume.resume_contents.school : " ") %>
    </div>

    <div class="field">
      <%= form.label :degree_major %>
      <%= form.text_field 'degree_major', :value => (@resume.id ? @resume.resume_contents.degree_major : " ") %>
    </div>

    <div class="field">
      <%= form.label :description_edu %>
      <%= form.text_field 'description_edu', :value => (@resume.id ? @resume.resume_contents.description_edu : " ") %>
    </div>

    <div class="field">
      <%= form.label :school_location %>
      <%= form.text_field 'school_location', :value => (@resume.id ? @resume.resume_contents.school_location : " ") %>
    </div>

    <div>
      <select name="Month">
        <option value="January">January</option>
        <option value="February">February</option>
        <option value="March">March</option>
        <option value="April">April</option>
        <option value="May">May</option>
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
        <option value="September">September</option>
        <option value="October">October</option>
        <option value="November">November</option>
        <option value="December">December</option>

      </select>
    </div>

  </div>

  <div>
    <div class="field">
      <%= form.label :school2 %>
      <%= form.text_field 'school2', :value => (@resume.id ? @resume.resume_contents.school2 : " ") %>
    </div>

    <div class="field">
      <%= form.label :degree_major2 %>
      <%= form.text_field 'degree_major2', :value => (@resume.id ? @resume.resume_contents.degree_major2 : " ") %>
    </div>

    <div class="field">
      <%= form.label :description_edu2 %>
      <%= form.text_field 'description_edu2', :value => (@resume.id ? @resume.resume_contents.description_edu2 : " ") %>
    </div>

    <div class="field">
      <%= form.label :school_location2 %>
      <%= form.text_field 'school_location2', :value => (@resume.id ? @resume.resume_contents.school_location2 : " ") %>
    </div>

  </div>

  <div>
    <div class="field">
      <%= form.label :school3 %>
      <%= form.text_field 'school3', :value => (@resume.id ? @resume.resume_contents.school3 : " ") %>
    </div>

    <div class="field">
      <%= form.label :degree_major3 %>
      <%= form.text_field 'degree_major3', :value => (@resume.id ? @resume.resume_contents.degree_major3 : " ") %>
    </div>

    <div class="field">
      <%= form.label :description_edu3 %>
      <%= form.text_field 'description_edu3', :value => (@resume.id ? @resume.resume_contents.description_edu3 : " ") %>
    </div>

    <div class="field">
      <%= form.label :school_location3 %>
      <%= form.text_field 'school_location3', :value => (@resume.id ? @resume.resume_contents.school_location3 : " ") %>
    </div>

  </div>




</div>


<div class="actions">
  <%= form.submit %>
</div>


<% end %>

<div class ="button-area">
  <%= button_to 'Add another education', build_resume_education_path, :class => "button", :method => "post" %>
  <div>

    <div class ="button-area">
      <%= button_to 'Back', build_resume_summary_path, :class => "button", :method => "get" %>
      <div>

        <div class ="button-area">
          <%= button_to 'Next: Experience',build_resume_experience_path, :class => "button", :method => "get" %>
          <div>
