<h1 class="titles">Experience</h1>


<%= form_with(model: @resume, local: true, url: build_resume_update_experience_path) do |form| %>
<% if @resume.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

  <ul>
    <% @resume.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>



<div class ="contact-details">


  <div class="field">
    <%= form.label :company %>
    <%= form.text_field 'company', :value => (@resume.id ? @resume.resume_contents.experiences[0]['company2'] : " ") %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field 'position', :value => (@resume.id ? @resume.resume_contents.experiences[0]['position'] : " ") %>
  </div>

  <div class="field">
    <%= form.label :description_exp %>
    <%= form.text_field 'description_exp', :value => (@resume.id ? @resume.resume_contents.experiences[0]['description_exp'] : " ") %>
  </div>

  <div class="field">
    <%= form.label :company_location %>
    <%= form.text_field 'company_location', :value => (@resume.id ? @resume.resume_contents.experiences[0]['company_location'] : " ") %>
  </div>

</div>
<div class="actions-skills">
  <%= form.submit %>
</div>


<% end %>

<div class="buttons">
  <div>

    <button id="add_experience" class ="button" type="button" name="button" onclick="show_experience_form();">Add another experience</button>
  </div>

  <div>
    <%= button_to 'Back', build_resume_education_path, :class => "button", :method => "get" %>
  </div>

  <div>
    <%= button_to 'Next: Skills', build_resume_skills_path, :class => "button", :method => "get" %>
  </div>
</div>
