<h1>Hobbies</h1>


<%= form_with(model: @resume, local: true, url: build_resume_update_hobbies_path) do |form| %>
<% if @resume.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

  <ul>
    <% @resume.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>



<div class ="summary">


  <div class="field">
    <%= form.label :hobbies %>
    <%= form.text_field 'hobbies', :value => (@resume.id ? @resume.resume_contents.hobbies : " ") %>
  </div>



</div>


<div class="actions">
  <%= form.submit %>
</div>


<% end %>

<div class ="button-area">
<%= button_to 'Back', build_resume_experience_path, :class => "button", :method => "get" %>
<div>

<div class ="button-area">
<%= button_to 'Next: Others', build_resume_others_path, :class => "button", :method => "get" %>
<div>
