<h1 class="titles">Others</h1>

<button id="myBtn">Click here for Tips</button>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p class="tips-summary">
      If you are new to the technology field and concerned about a lack of experience, consider offering free or
      low-cost technical services to charitable organizations, friends, family or local businesses.
      Doing so allows you to hone your craft and show related work or volunteer experience on your resume.</p>
  </div>

</div>

<script>

let modal = document.getElementById('myModal');

let btn = document.getElementById("myBtn");

let span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
  modal.style.display = "block";
}

span.onclick = function() {
  modal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

<%= form_with(model: @resume, local: true, url: build_resume_update_others_path) do |form| %>
<% if @resume.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

  <ul>
    <% @resume.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>



<div class ="contact-details">


  <div class="field">
    <%= form.label :portfolio_url %>
    <%= form.text_field 'portfolio_url', :value => @resume.resume_contents.portfolio_url %>
  </div>

  <div class="field">
    <%= form.label :github %>
    <%= form.text_field 'github', :value => @resume.resume_contents.github %>
  </div>

  <div class="field">
    <%= form.label :hobbies %>
    <%= form.text_field 'hobbies', :value => @resume.resume_contents.hobbies %>
  </div>


</div>
  <div class="actions-skills">
    <%= form.submit %>
  </div>


  <% end %>

<div class ="buttons">
  <div>
    <%= button_to 'Back', build_resume_skills_path, :class => "button", :method => "get" %>
  </div>

  <div>
    <%= button_to 'Next: Build Resume', sections_path, :class => "button", :method => "get" %>
  </div>
</div>
