<h1>Others</h1>


<%= form_with(model: @resume, local: true, url: build_resume_update_others_path) do |form| %>
<% if @resume.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

  <ul>
    <% @resume.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>



<div class ="summary">


  <div class="field">
    <%= form.label :portfolio_url %>
    <%= form.text_field 'portfolio_url', :value => @resume.resume_contents.portfolio_url %>
  </div>



</div>


<div class="actions">
  <%= form.submit %>
</div>


<% end %>

<div class ="button-area">
<%= button_to 'Back', build_resume_hobbies_path, :class => "button", :method => "get" %>
<div>

<div class ="button-area">
<%= link_to 'Preview Resume', @resume %>
<div>
