<h1 class="titles">Resume Sections</h1>

<section class="sections">
  <div>
    <%= link_to 'Contact Details', build_resume_contact_details_path%>
  </div>


  <div>
    <%= link_to 'Summary', build_resume_summary_path %>
  </div>

  <div>
    <%= link_to 'Education', build_resume_education_path %>
  </div>

  <div>
    <%= link_to 'Experience', build_resume_experience_path %>
  </div>


  <div>
    <%= link_to 'Skills', build_resume_skills_path %>
  </div>

  <div>
    <%= link_to 'Others', build_resume_others_path %>
  </div>

  <div class ="button-area">
  <%= link_to 'Preview Resume', '/resumes/:id' %>
  </div>

  <div>
    <%= button_to 'Build resume', build_resume_build_path, :class => "button-build", :method => "get" %>
  </div>


</section>
