<h1 class="titles">Summary</h1>


<button id="myBtn">Click here for Tips</button>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p class="tips-summary"> The summary statement should emphasize your unique value and what you can offer a company. Think of it as your sales pitch. </br>This statement should be approximately four to six lines, and it should highlight the experience, achievements, and characteristics that make you uniquely qualified for a position.
    </br></p> </br>

    <p class="tips-summary"> <strong>Recruiters would probably like to know:</strong> </br></p>
    <p class="tips-summary questions"><strong>- What excites you about your newly chosen career path?</strong></br><strong>- How did you get where you are?, and what gets you apart
      from other candidates? </br></strong>
    </p>
    <p class="tips-summary">
    Show your potential, ability to learn challenging
    concepts quickly and motivation to succeed in the industry.
    Remember to <strong>use keywords</strong> related to the job posting.</p>

    <p class="tips-summary"><strong>Example# 1:</strong>
      Spirited, creative, and dedicated Chemical Engineer transitioning to a career in Software Development. I enjoy new challenges, pair programming, and calculated risk. </p>

<p class="tips-summary"><strong>Example# 2:</strong>
  Passionate engineer with a strong enthusiasm for writing quality code, learning new things,
and taking on new challenges.</p>
  </div>

</div>

<script>

let modal = document.getElementById('myModal');

let btn = document.getElementById("myBtn");

let span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
  modal.style.display = "block";
}

span.onclick = function() {
  modal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>



<%= form_with(model: @resume, local: true, url: build_resume_update_summary_path) do |form| %>
<% if @resume.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

  <ul>
    <% @resume.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>



<div class ="summary">
  <div class="field-summary">
    <%= form.text_area 'summary', :value => (@resume.id ? @resume.resume_contents.summary : " "), :class => "summary-area" %>
  </div>

  <div class="actions-summary">
    <%= form.submit %>
  </div>

  <% end %>

</div>

<div class ="buttons">
  <div>
    <%= button_to 'Back', build_resume_contact_details_path, :class => "button", :method => "get" %>
  </div>

  <div>
    <%= button_to 'Next: Education', build_resume_education_path, :class => "button", :method => "get" %>
  </div>

</div>
